@import '../mixins';
@import '../vars';

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  box-shadow: inset 0 0 0 1px $accent;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 12px 35px;
  color: #ffffff;
  background-color: $accent;
  white-space: nowrap;
  @include mobile {
    font-size: 12px;
    line-height: 14.4px;
  }
  &--transparent {
    color: $dark;
    background-color: #ffffff;
  }
  &--bordered {
    color: $accent;
    background-color: #ffffff;
  }
  &--catalog {
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
    &::after {
      content: '';
      display: inline-block;
      background-image: url('../img/icons/arrow-down-small.svg');
      background-position: center center;
      background-repeat: no-repeat;
      margin-left: 12px;
      width: 8px;
      height: 9px;
    }
  }
}
.burger {
  position: relative;
  z-index: 2;
  @include mobile {
    padding: 12px 21px;
  }
  &__wrapper {
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 14px;
    @include mobile {
      width: 15px;
    }
  }
  &__text {
    display: inline-block;
  }
  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transition: all 0.3s ease;
  }
  &__line--1 {
    top: 0;
  }
  &__line--2,
  &__line--3 {
    top: 50%;
    transform: translateY(-50%);
  }
  &__line--4 {
    bottom: 0;
  }
  &.active {
    .burger__line--1,
    .burger__line--4 {
      opacity: 0;
    }

    .burger__line--2 {
      transform: translateY(-50%) rotate(45deg);
    }

    .burger__line--3 {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
