.cookies {
  max-height: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 14px;
  z-index: 3;
  background-color: #ffffff;
  color: $grey;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;

  &__wrapper {
    padding: 15px $desktop-padding;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 10px $tablet-padding 20px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    @include mobile {
      padding: 10px $mobile-padding 20px;
    }
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
  }
  &__btn {
    cursor: pointer;
    color: $accent;
    text-decoration: underline;
    @include tablet {
      padding-top: 10px;
    }
  }
}

.cookies.opened {
  max-height: 200px;
}
