.footer {
  background-color: #f6faff;
  &__wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__top {
    margin-bottom: 50px;
    @include mobile {
      margin-bottom: 30px;
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
  }
  &__main {
    display: grid;
    column-gap: 30px;
    row-gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      row-gap: 30px;
      column-gap: 10px;
      margin-bottom: 30px;
    }
  }
  &__menu:nth-child(-n + 3) {
    grid-row: span 2;
  }

  &__copyright {
    border-top: 1px solid #d8e1ef;
    padding-top: 20px;
    color: #d8e1ef;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    @include mobile {
      font-size: 14px;
    }
  }
}
