.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey;
  column-gap: 10px;
  &__input {
    width: 215px;
    color: $accent;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 0 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    transition: all 0.4s linear;
  }
}

.search.closed {
  border: none;
}
.search.closed .search__input {
  width: 0;
}
.search.closed .search__close-icon {
  display: none;
}

.phones {
  &__list {
    display: none;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    list-style: none;
    background-color: #ffffff;
    padding: 30px;
    min-width: 380px;
    text-align: right;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 3;
    right: 0;
    @include mobile {
      min-width: 240px;
      gap: 20px;
      padding: 20px;
    }
  }
  &__text {
    margin-bottom: 10px;
    color: $dark;
    font-weight: 400;
    @include mobile {
      font-size: 12px;
    }
  }
  &__number {
    text-decoration: none;
    color: $accent;
    @include mobile {
      font-size: 14px;
    }
  }
}

.header__phones:hover .phones__list {
  display: flex;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    @include mobile {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__logo {
    flex-basis: 10%;
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
  }
  &__logo-image {
    display: block;
    margin: 0 auto;

    @include mobile {
      width: 50px;
    }
  }
  &__contacts {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    @include mobile {
      gap: 20px;
    }
  }

  &__navbar,
  &__contacts,
  &__logo {
    @include tablet {
      flex-basis: calc(100% / 3);
    }
  }

  &__navbar,
  &__contacts {
    flex-basis: 45%;
    display: flex;
    align-items: center;
  }

  &__feedback-button {
    @include tablet {
      display: none;
    }
  }
  &__lang {
    white-space: nowrap;
  }
  &__lang-button {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    @include mobile {
      font-size: 12px;
    }
  }
  &__lang-button.active {
    box-shadow: 0 1px 0 $accent;
    color: $accent;
  }
  &__search {
    transition: all 0.5s linear;
    transform-origin: left;
    position: relative;
    @include mobile {
      display: none;
    }
  }
  &__phones {
    position: relative;
  }
}
