.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    @include mobile {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__navbar {
    flex-basis: 45%;
  }
  &__logo {
    flex-basis: 10%;
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__contacts {
    flex-basis: 45%;
  }

  &__navbar,
  &__contacts,
  &__logo {
    @include tablet {
      flex-basis: calc(100% / 3);
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    @include mobile {
      gap: 20px;
    }
  }
  &__logo-image {
    display: block;
    margin: 0 auto;

    @include mobile {
      width: 50px;
    }
  }
  &__navbar,
  &__contacts {
    display: flex;
    align-items: center;
  }

  &__feedback-button {
    @include tablet {
      display: none;
    }
  }

  &__icon {
    cursor: pointer;
    @include mobile {
      width: 16px;
      height: 16px;
    }
  }
  &__lang {
    white-space: nowrap;
  }
  &__lang-button {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    @include mobile {
      font-size: 12px;
    }
  }
  &__lang-button.active {
    box-shadow: 0 1px 0 $accent;
    color: $accent;
  }
  &__search {
    transition: all 0.5s linear;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    @include mobile {
      display: none;
    }
  }
}

.header__search.active {
  border-bottom: 1px solid $light-grey;
}

.header__search.active input {
  width: 215px;
}

.header__search.active .search__close-icon {
  opacity: 1;
  z-index: 1;
  width: 16px;
}

._feedback-button {
  transition: all 0.5s ease;
  transform-origin: right;
}

.search {
  &__input {
    color: $accent;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 0;
    border: none;
    outline: none;
    flex-grow: 1;
    width: 0;
    transition: all 0.4s linear;

    @include mobile {
      display: none;
    }
  }
  &__search-icon {
    cursor: pointer;
    margin: 0 13px;
    @include mobile {
      display: none;
    }
  }
  &__close-icon {
    cursor: pointer;

    opacity: 0;
    z-index: -1;
    width: 0;

    // opacity: 1;
    // z-index: 1;
  }
}
