.icon {
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
  &--search,
  &--phone,
  &--next,
  &--prev {
    fill: $accent;
  }
  &--close {
    fill: $grey;
  }
  &:hover {
    transform: scale(1.2);
  }
}
