.partners {
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    column-gap: 60px;
    row-gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 210px;
    justify-content: space-between;
    margin-bottom: 50px;
    @include mobile {
      grid-template-columns: repeat(auto-fill, 165px);
      grid-template-rows: repeat(3, auto);
      grid-auto-columns: 165px;
      column-gap: 10px;
      margin-bottom: 30px;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 65px;
    object-fit: cover;
    @include mobile {
      flex-basis: 55px;
    }
  }
}
