.slider {
  overflow-x: hidden;
  &__list {
    display: flex;
    transition: all 0.5s ease;
    padding-right: 300px;
    @include tablet {
      padding-right: 100px;
    }
  }
  &__item {
    min-width: 100%;
  }
}

.slider__item--next > img {
  height: 70%;
  @include tablet {
    width: 195px;
    height: 250px;
  }
}

.slider__item--next > .main__info {
  display: none;
  // opacity: 0;
  // @include tablet {
  //   display: flex;
  // }
}
