//Colors
$accent: #126fb4;

$dark: #262e34;
$grey: #525558;
$light-grey: #999999;

// Breakpoints
$mobile-width: 768px;
$tablet-width: 1100px;

// Container paddings
$mobile-padding: 10px;
$tablet-padding: 40px;
$desktop-padding: 75px;
