.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-family: 'Gilroy', sans-serif;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 400;
  padding: 12px 35px;
  color: $btn-text;
  background-color: $main;

  &--transparent {
    color: $title-text;
    background-color: transparent;
  }
  &--bordered {
    border: 1px solid $main;
    color: $main;
    background-color: $btn-text;
  }
  &--menu {
    &::before {
      content: '';
      display: inline-block;
      box-shadow: 0px -12px 0 0 $btn-text, 0px -5px 0 0 $btn-text, 0px 2px 0 0 $btn-text;
      margin-right: 10px;
      width: 20px;
      height: 2px;
    }
  }
  &--catalog {
    font-weight: 300;
    padding: 12px 30px;
    &::after {
      content: '';
      display: inline-block;
      background-image: url("data:image/svg+xml;utf8,<svg width='8' height='9' viewBox='0 0 8 9' xmlns='http://www.w3.org/2000/svg'><path d='M4.35355 8.85355C4.15829 9.04882 3.84171 9.04882 3.64645 8.85355L0.464466 5.67157C0.269204 5.47631 0.269204 5.15973 0.464466 4.96447C0.659728 4.7692 0.976311 4.7692 1.17157 4.96447L4 7.79289L6.82843 4.96447C7.02369 4.7692 7.34027 4.7692 7.53553 4.96447C7.7308 5.15973 7.7308 5.47631 7.53553 5.67157L4.35355 8.85355ZM4.5 0.5V8.5H3.5L3.5 0.5L4.5 0.5Z' /></svg>");
      background-position: center center;
      background-repeat: no-repeat;
      margin-left: 12px;
      width: 8px;
      height: 9px;
    }
  }
}
