@import './typography';
@import './mixins';
@import './vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Gilroy', sans-serif;
  color: $grey;
  background-color: #ffffff;
  // overflow-x: hidden;
  @include mobile {
    font-size: 14px;
  }
}

.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 $desktop-padding;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include tablet {
    padding: 0 $tablet-padding;
    padding-top: 50px;
    padding-bottom: 0;
  }
  @include mobile {
    padding: 0 $mobile-padding;
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.span-2 {
  grid-column: span 2;
  @include mobile {
    grid-column: span 1;
  }
}
.span-3 {
  grid-column: span 3;
  @include mobile {
    grid-column: span 1;
  }
}

@import './components/buttons';
@import './components/icons';
@import './components/titles';
@import './components/header';
@import './components/navbar';
@import './components/slider';
@import './components/pagination';
@import './components/mission';
@import './components/features';
@import './components/production';
@import './components/popular';
@import './components/card';
@import './components/advantages';
@import './components/advantage';
@import './components/partners';
@import './components/feedback';
@import './components/form';
@import './components/contacts';
@import './components/shop';
@import './components/footer';
@import './components/menu';
@import './components/cookies';
@import './components/popup';
