@import './reset.scss';
@import './globals.scss';
@import './typography';
@import './buttons.scss';
@import './mixins.scss';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
  color: $text;
  background-color: $main-bg;
}

.container {
  max-width: var(--page-width);
  padding: 50px var(--page-paddings);
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.main-title {
  font-family: 'Code Pro LC', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.375rem;
  color: $main;
  text-transform: uppercase;
}

.section-title {
  font-family: 'PF DinText Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: $title-text;
  letter-spacing: 0.575rem;
  text-transform: uppercase;
}

.big-text {
  font-family: 'Code Pro LC', sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
  line-height: 3.675rem;
  color: $title-text;
  text-transform: uppercase;
  span {
    color: $main;
  }
}

.header {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 430px);
    // display: flex;
    // flex-wrap: wrap;

    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
  }
  &__logo {
    display: block;
    margin: 0 auto;
  }
  &__menu,
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__contacts {
    justify-content: flex-end;
    gap: 30px;
  }
  &__lang-button {
    padding: 0;
    color: $title-text;
  }
  &__lang-button .active {
    box-shadow: 0 1px 0 $main;
    color: $main;
  }
}

.icon {
  cursor: pointer;
  fill: $main;
}

.slider {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    text-align: left;
    overflow: hidden;
  }
  &__current-image {
    margin-left: 26px;
    margin-right: 250px;
  }
  &__next-image {
    transform: scale(0.8) translateX(-50px);
    margin: auto 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    margin-top: 50px;
  }
  &__title span {
    color: $main;
  }

  &__subtitle {
    font-family: 'PF DinText Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    color: $title-text;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  &__description {
    color: $text;
  }
  &__arrow {
    margin-left: 10px;
  }
  &__pagination {
    position: absolute;
    right: 75px;
    bottom: 50px;
  }
  &__button {
    margin-top: auto;
  }
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  &__page {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 400;
    color: $title-text;
  }
  &__page.active {
    color: $main;
    box-shadow: inset 0 -3px 0 $main;
    font-size: 2rem;
  }
  &--center {
    justify-content: center;
  }
}

.mission {
  &__text {
    padding: 0 10%;
  }
}

.features {
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    list-style: none;
    gap: 30px;
    padding-top: 15px;
  }
  &__item {
    text-align: center;
    width: 150px;
  }
  &__img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  &__text {
    color: $main;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
  }
}

.production {
  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-bottom: 50px;
  }
  &__gallery-list {
    margin: 0 calc(var(--page-paddings) * -1);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &__gallery-item {
    background: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
  }
  &__img:hover {
    cursor: pointer;
    opacity: 0;
  }
  &__img:hover ~ &__text {
    opacity: 1;
  }
  &__text {
    color: $btn-text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}

.popular {
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__catalog {
    margin-bottom: 50px;
  }
}

.catalog {
  &__tabs-list {
    border-bottom: 1px solid $light-main;
    display: flex;
    margin-bottom: 30px;
  }
  &__tab {
    cursor: pointer;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-right: 50px;
    padding-bottom: 10px;
    color: $dark-grey;
  }
  &__tab.active {
    color: $main;
    box-shadow: 0 1px 0 $main;
  }
  &__cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 60px;
  }
}

.card {
  &__image-wrapper {
    height: 210px;
    margin-bottom: 20px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 10px;
  }
  &__info {
    text-align: left;
  }
  &__feature-text,
  &__feature-value {
    margin-bottom: 10px;
    font-size: 0.875rem;
    color: $dark-grey;
  }
  &__feature-value {
    color: $title-text;
  }
}

.advantages {
  &__wrapper {
    background-image: url('../img/advantages-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    color: $btn-text;
    margin: 100px 0 50px 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    margin-bottom: 50px;
  }
  &__slogan {
    margin-bottom: 50px;
    color: $btn-text;
  }
}

.article {
  &__title {
    line-height: 1.625;
    color: $btn-text;
    margin-bottom: 20px;
    text-align: left;
  }
  &__list {
    margin-left: 23px;
  }
  &__item {
    color: $grey;
    text-align: left;
    line-height: 1.5;
  }
}

.partners {
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 30px;
    list-style: none;
    margin-bottom: 50px;
  }
  &__item {
    height: 65px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feedback {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__action-text {
    text-align: left;
    margin-bottom: 40px;
  }
  &__img {
    width: 410px;
  }
}

.form {
  width: 740px;
  &__top-contacts {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
  &__bottom-contacts {
    margin-bottom: 40px;
  }
  &__text {
    text-align: left;
    margin-bottom: 15px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
  }
  &__radios {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  input {
    color: $main;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid $dark-grey;
    outline: none;
  }
  input:focus {
    border-bottom: 1px solid $main;
  }

  input[type='radio'] {
    margin: 0;
    color: $dark-grey;
    transform: scale(1.6);
  }
  input[type='radio']:not(:first-child) {
    margin-left: 23px;
  }
  input[type='radio'] ~ label {
    padding-left: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    font-feature-settings: 'kern' off;
    color: $text;
  }

  input[name='message'] {
    grid-column: span 2;
  }
}

.contacts {
  &__wrapper {
    display: grid;
    grid-template-columns: 520px 1fr;
    column-gap: 140px;
  }
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__info {
    text-align: left;
  }
  &__text {
    margin-bottom: 30px;
    color: $text;
    p {
      padding-bottom: 7px;
    }
  }
  &__shop-list {
    display: flex;
    flex-direction: column;
  }
  &__shop-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.shop {
  text-align: left;
  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__title {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
  }
  &__icon {
    margin-right: 20px;
  }
  &__email,
  &__phone {
    display: block;
    padding-left: 60px;
    padding-bottom: 5px;
    color: $main;
    text-decoration: none;
  }

  &__social-list {
    padding-left: 60px;
    display: flex;
    gap: 10px;
  }
}

.messenger-icon {
  width: 30px;
  height: 30px;
  &--telegram {
    background-image: url('../img/icons/telegram.svg');
  }
  &--viber {
    background-image: url('../img/icons/viber.svg');
  }
  &--whatsapp {
    background-image: url('../img/icons/whatsapp.svg');
  }
}

.footer {
  background-color: $footer-bg;
  &__top {
    margin-bottom: 50px;
  }
  &__logo {
    display: block;
    margin: 0 auto;
  }
  &__main {
    display: grid;
    column-gap: 30px;
    row-gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
  &__menu {
    text-align: left;
  }
  &__menu:nth-child(-n + 3) {
    grid-row: span 2;
  }
  &__menu-title {
    font-family: 'PF DinText Pro';
    font-weight: 400;
    font-size: 1.25rem;
    color: $main;
    padding-bottom: 10px;
    border-bottom: 1px solid $main;
    line-height: 1.5;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  &__menu-list {
    list-style: none;
  }
  &__menu-item {
    padding-left: 20px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }
  &__menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__menu-social-list {
    display: flex;
    gap: 20px;
    padding-left: 20px;
  }
  &__menu-social-item {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    &--youtube {
      background-image: url('../img/icons/youtube.svg');
    }
    &--facebook {
      background-image: url('../img/icons/facebook.svg');
    }
    &--instagram {
      background-image: url('../img/icons/instagram.svg');
    }
  }
  &__button {
    display: block;
    margin-left: 20px;
  }
  &__copyright {
    border-top: 1px solid $light-blue;
    padding-top: 20px;
    color: $dark-grey;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
}
