@import './typography';
@import './mixins';
@import './vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Gilroy', sans-serif;
  color: $grey;
  background-color: #ffffff;
  // overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 $desktop-padding;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include tablet {
    padding: 0 $tablet-padding;
    padding-top: 50px;
    padding-bottom: 0;
  }
  @include mobile {
    padding: 0 $mobile-padding;
    padding-top: 50px;
    padding-bottom: 0;
  }
}

@import './components/buttons';
@import './components/titles';
@import './components/header';
@import './components/slider';
@import './components/pagination';
@import './components/mission';
@import './components/features';

.production {
  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-bottom: 50px;
  }
  &__gallery-list {
    margin: 0 calc($desktop-padding * -1);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: left;
  }
  &__gallery-item {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  &__img:hover {
    cursor: pointer;
    opacity: 0;
  }
  &__img:hover ~ &__name {
    opacity: 1;
  }
  &__name {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  &__text {
    display: none;
  }
  // @include media-mobile {
  //   &__header {
  //     display: block;
  //     margin-bottom: 30px;
  //   }
  //   &__title {
  //     margin-bottom: 20px;
  //   }
  //   &__gallery-list {
  //     margin: 0;
  //     grid-template-columns: repeat(2, 1fr);
  //     row-gap: 30px;
  //     column-gap: 10px;
  //   }
  //   &__gallery-item {
  //     background-color: transparent;
  //   }
  //   &__img {
  //     height: 120px;
  //   }
  //   &__name {
  //     margin-top: 10px;
  //     color: $dark;
  //     position: static;
  //     transform: none;
  //     top: auto;
  //     left: auto;
  //   }
  //   &__text {
  //     margin-top: 10px;
  //     display: block;
  //   }
  //   &__gallery-list--one-row {
  //     grid-template-columns: 1fr;
  //   }
  //   &__gallery-list--one-row &__img {
  //     height: 150px;
  //   }
  //   &__gallery-list--one-row &__name {
  //     margin-top: 20px;
  //   }
  // }
}

.span-2 {
  grid-column: span 2;
  // @include media-mobile {
  //   grid-column: span 1;
  // }
}
.span-3 {
  grid-column: span 3;
  // @include media-mobile {
  //   grid-column: span 1;
  // }
}

.popular {
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__catalog {
    margin-bottom: 50px;
  }
  // @include media-mobile {
  //   &__title {
  //     margin-bottom: 30px;
  //   }
  //   &__catalog {
  //     margin-bottom: 0;
  //   }
  // }
}

.catalog {
  &__tabs-list {
    border-bottom: 1px solid #d8e1ef;
    display: flex;
    margin-bottom: 30px;
  }
  &__tab {
    cursor: pointer;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
    margin-right: 50px;
    padding-bottom: 10px;
    color: $light-grey;
  }
  &__tab.active {
    color: $accent;
    box-shadow: 0 1px 0 $accent;
  }
  &__cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 60px;
    margin-bottom: 30px;
  }
  // @include media-mobile {
  //   &__tab {
  //     font-size: 16px;
  //     margin-right: 30px;
  //   }
  //   &__cards-list {
  //     grid-template-columns: repeat(2, 1fr);
  //     row-gap: 30px;
  //     column-gap: 10px;
  //   }
  // }
}

.card {
  &__image-wrapper {
    height: 210px;
    margin-bottom: 20px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 10px;
  }
  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__feature-text,
  &__feature-value {
    margin-bottom: 10px;
    font-size: 0.875rem;
    color: $light-grey;
  }
  &__feature-value {
    color: $dark;
  }
  // @include media-mobile {
  //   &__image-wrapper {
  //     height: 165px;
  //   }
  //   &__title {
  //     font-size: 16px;
  //     margin-bottom: 5px;
  //   }
  //   &__info {
  //     font-size: 12px;
  //   }
  // }
}

.advantages {
  &__wrapper {
    background-image: url('../img/advantages-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    color: #ffffff;
    margin: 100px 0 50px 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    margin-bottom: 50px;
  }
  &__slogan {
    margin-bottom: 50px;
    color: #ffffff;
  }
}

.article {
  &__title {
    line-height: 1.625;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
  }
  &__list {
    margin-left: 23px;
  }
  &__item {
    color: $grey;
    text-align: left;
    line-height: 1.5;
  }
}

.partners {
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 30px;
    list-style: none;
    margin-bottom: 50px;
  }
  &__item {
    height: 65px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feedback {
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: hidden;
  }
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__action-text {
    text-align: left;
    margin-bottom: 40px;
  }
  &__img {
    width: 410px;
    // @include media-mobile {
    //   display: none;
    // }
  }
}

.form {
  width: 740px;
  &__top-contacts {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
  &__bottom-contacts {
    margin-bottom: 40px;
  }
  &__text {
    text-align: left;
    margin-bottom: 15px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
  }
  &__radios {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  input {
    color: $accent;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid $light-grey;
    outline: none;
  }
  input:focus {
    border-bottom: 1px solid $accent;
  }

  input[type='radio'] {
    margin: 0;
    color: $light-grey;
    transform: scale(1.6);
  }
  input[type='radio']:not(:first-child) {
    margin-left: 23px;
  }
  input[type='radio'] ~ label {
    padding-left: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    font-feature-settings: 'kern' off;
    color: $grey;
  }

  input[name='message'] {
    grid-column: span 2;
  }
}

.contacts {
  &__wrapper {
    display: grid;
    grid-template-columns: 520px 1fr;
    column-gap: 140px;
  }
  &__title {
    text-align: left;
    margin-bottom: 50px;
  }
  &__info {
    text-align: left;
  }
  &__text {
    margin-bottom: 30px;
    color: $grey;
    p {
      padding-bottom: 7px;
    }
  }
  &__shop-list {
    display: flex;
    flex-direction: column;
  }
  &__shop-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.shop {
  text-align: left;
  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__title {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.3;
  }
  &__icon {
    margin-right: 20px;
  }
  &__email,
  &__phone {
    display: block;
    padding-left: 60px;
    padding-bottom: 5px;
    color: $accent;
    text-decoration: none;
  }

  &__social-list {
    padding-left: 60px;
    display: flex;
    gap: 10px;
  }
}

.messenger-icon {
  width: 30px;
  height: 30px;
  &--telegram {
    background-image: url('../img/icons/telegram.svg');
  }
  &--viber {
    background-image: url('../img/icons/viber.svg');
  }
  &--whatsapp {
    background-image: url('../img/icons/whatsapp.svg');
  }
}

.footer {
  background-color: #f6faff;
  &__top {
    margin-bottom: 50px;
  }
  &__logo {
    display: block;
    margin: 0 auto;
  }
  &__main {
    display: grid;
    column-gap: 30px;
    row-gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
  &__menu {
    text-align: left;
  }
  &__menu:nth-child(-n + 3) {
    grid-row: span 2;
  }
  &__menu-title {
    font-family: 'PF DinText Pro';
    font-weight: 400;
    font-size: 1.25rem;
    color: $accent;
    padding-bottom: 10px;
    border-bottom: 1px solid $accent;
    line-height: 1.5;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  &__menu-list {
    list-style: none;
  }
  &__menu-item {
    padding-left: 20px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }
  &__menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__menu-social-list {
    display: flex;
    gap: 20px;
    padding-left: 20px;
  }
  &__menu-social-item {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    &--youtube {
      background-image: url('../img/icons/youtube.svg');
    }
    &--facebook {
      background-image: url('../img/icons/facebook.svg');
    }
    &--instagram {
      background-image: url('../img/icons/instagram.svg');
    }
  }
  &__button {
    display: block;
    margin-left: 20px;
  }
  &__copyright {
    border-top: 1px solid #d8e1ef;
    padding-top: 20px;
    color: #d8e1ef;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
}
